//---------------------------------------------
// adjustable application runtime properties
//---------------------------------------------
BuildMajor = 2024
BuildMinor = 3
BuildRev = 0
BuildNumber = 0
// NB: the BuildType is overridden in the environment-specific settings below.
BuildType = "Development"

firefly.tag.name = "pre-3-2024.3"

mail.transport.protocol = "smtp"
mail.smtp.host = "mail.ncsa.illinois.edu"
mail.smtp.auth = "false"
mail.smtp.port = "587"
mail.smtp.from = "donotreply@ncsa.illinois.edu"
mail.smtp.starttls.enable = "true"

config.dir = "/hydra/server/config"
work.directory = "/hydra/workarea"
stats.log.dir = '${sys:catalina.base}/logs'
alerts.dir = "/hydra/alerts"

debug.mode = false

/*  keep vis.shared.mem.size small if pct is sed */
pct.vis.shared.mem.size = 0.4

sso.server.url = "https://test.cilogon.org/"
sso.login.url = "/login?rd=/portal/suit/"
sso.logout.url = "/logout"
sso.user.profile.url =
__$help.base.url = "onlinehelp/"

sso.framework.adapter = "edu.caltech.ipac.lsst.security.LsstSsoAdapter"
sso.auth.required = "false"
oidc_client_id = ""
oidc_client_secret = ""
sso_redirect_uri = "oidc/verify"


visualize.fits.MaxSizeInBytes= 21474836480
visualize.fits.search.path = "/hydra"
visualize.fits.Security= true

// IRSA Periodogram API
irsa.gator.service.periodogram.url = "https://irsa.ipac.caltech.edu/cgi-bin/periodogram/nph-periodogram_api"

irsa.gator.hostname = "https://irsa.ipac.caltech.edu"
irsa.gator.dd.hostname  = "https://irsa.ipac.caltech.edu"
wise.ibe.host       = "https://irsa.ipac.caltech.edu/ibe"
twomass.ibe.host    = "https://irsa.ipac.caltech.edu/ibe"


// if workspace host url is empty, the url will be derived from request's host and protocol
workspace.host.url = ""
workspace.root.path = "/api/dav/scratch/dav"
workspace.protocol.webdav = "edu.caltech.ipac.lsst.LsstWebDAVWorkspaceManager"
__$workspace.propfind.infinity = false

// ehcache.xml env sensitive properties
// ehcahe replication port; suggest 4077-developer, 5077-dev, 6077-I&T, 7077-Prod, 8077-Public
// peerDiscovery can be "PubSub" for the redis-based discovery mechanism, or "MultiCast" for the original
ehcache.multicast.port = "7077"
ehcache.peerDiscovery = "PubSub"
redis.host = "redis-srv"
ehcache.replicate = true
// point a IRSA for testing - I will be overriddien in a real deployment
lsst.hips.masterUrl="https://data-int.lsst.cloud/api/hips/list"



environments{
    local {
        BuildType = "Development"
        ehcache.multicast.port = 4077
        visualize.fits.Security= false
        sso.auth.required = "false"
        ehcache.peerDiscovery = "MultiCast"
        ehcache.multicast.address="239.255.0.1"
        ehcache.multicast.ttl = 0
        redis.host = "127.0.0.1"
        workspace.host.url = "https://lsst-lsp-int.ncsa.illinois.edu"
    }
    dev {
        BuildType = "Development"
        ehcache.multicast.port = "5077"
    }
    test {
        BuildType = "Beta"
        ehcache.multicast.port = "6077"
        irsa.gator.service.periodogram.url = "https://irsatest.ipac.caltech.edu/cgi-bin/periodogram/nph-periodogram_api"
    }
    ops_int {
    }
}
