//---------------------------------------------
// adjustable application runtime properties
//---------------------------------------------
BuildMajor = 1
BuildMinor = 0
BuildRev = 0
BuildNumber = 0
BuildType = "Final"

mail.transport.protocol = "smtp"
mail.smtp.host = "mail.ncsa.illinois.edu"
mail.smtp.auth = "false"
mail.smtp.port = "587"
mail.smtp.from = "donotreply@ncsa.illinois.edu"
mail.smtp.starttls.enable = "true"

config.dir = "/hydra/server/config"
work.directory = "/hydra/workarea"
stats.log.dir = '${catalina.base}/logs'
alerts.dir = "/hydra/alerts"

debug.mode = false

/*  keep vis.shared.mem.size small if pct is used */
pct.vis.shared.mem.size = 0.4
vis.shared.mem.size = "100M"
ehcache.multicast.ttl = 1

download.bundle.maxbytes = 304857600

sso.server.url = "https://test.cilogon.org/"
sso.user.profile.url =
help.base.url ="/onlinehelp/"

sso.framework.name = "mod_auth_openidc"
sso.auth.required = "true"
oidc_client_id = ""
oidc_client_secret = ""
sso_redirect_uri = "oidc/verify"


visualize.fits.MaxSizeInBytes= 10737418240
visualize.fits.search.path = "/hydra"
visualize.fits.Security= true

// IRSA Periodogram API
irsa.gator.service.periodogram.url = "http://irsa.ipac.caltech.edu/cgi-bin/periodogram/nph-periodogram_api"

irsa.gator.hostname = "irsa.ipac.caltech.edu"
wise.ibe.host       = "irsa.ipac.caltech.edu/ibe"
twomass.ibe.host    = "irsa.ipac.caltech.edu/ibe"

lsst.dataAccess.uri = "http://localhost:8661/db/v0/query?"
lsst.dataAccess.db = "smm_bremerton"

// ehcache.xml env sensitive properties
// ehcahe replication port; suggest 4077-developer, 5077-dev, 6077-I&T, 7077-Prod, 8077-Public
ehcache.multicast.port = "7077"

environments{
    local {
        BuildType = "Development"
        ehcache.multicast.port = 4077
        visualize.fits.Security= false
        ehcache.multicast.ttl = 0
        sso.auth.required = "false"
    }
    dev {
        BuildType = "Development"
        ehcache.multicast.port = "5077"
    }
    test {
        BuildType = "Beta"
        ehcache.multicast.port = "6077"
        irsa.gator.service.periodogram.url = "http://irsatest.ipac.caltech.edu/cgi-bin/periodogram/nph-periodogram_api"
    }
    ops_int {
    }
}
