//---------------------------------------------
// adjustable application runtime properties
//---------------------------------------------
BuildMajor = 1
BuildMinor = 0
BuildRev = 0
BuildNumber = 0
BuildType = "Final"

mail.transport.protocol = "smtp"
mail.smtp.host = "mail.ncsa.illinois.edu"
mail.smtp.auth = "false"
mail.smtp.port = "587"
mail.smtp.from = "donotreply@ncsa.illinois.edu"
mail.smtp.starttls.enable = "true"

config.dir = "/hydra/server/config"
work.directory = "/hydra/workarea"
stats.log.dir = '${catalina.base}/logs'
alerts.dir = "/hydra/alerts"

debug.mode = false

/*  keep vis.shared.mem.size small if pct is used */
pct.vis.shared.mem.size = 0.4
ehcache.multicast.ttl = 1
ehcache.multicast.address = "239.255.0.1"

download.bundle.maxbytes = 304857600

sso.server.url = "https://test.cilogon.org/"
sso.login.url = "oauth2/start?rd=/portal/suit/"
sso.logout.url = "/oauth2/sign_in"
sso.user.profile.url =
__$help.base.url = "onlinehelp/"


sso.framework.adapter = "edu.caltech.ipac.lsst.security.LsstSsoAdapter"
sso.auth.required = "false"
oidc_client_id = ""
oidc_client_secret = ""
sso_redirect_uri = "oidc/verify"


visualize.fits.MaxSizeInBytes= 10737418240
visualize.fits.search.path = "/hydra"
visualize.fits.Security= true

// IRSA Periodogram API
irsa.gator.service.periodogram.url = "https://irsa.ipac.caltech.edu/cgi-bin/periodogram/nph-periodogram_api"

irsa.gator.hostname = "https://irsa.ipac.caltech.edu"
wise.ibe.host       = "https://irsa.ipac.caltech.edu/ibe"
twomass.ibe.host    = "https://irsa.ipac.caltech.edu/ibe"

// the props below can be full or relative (to request's host and protocol) URLs
lsst.dax.dbservURL = "/api/db/v1/tap/sync/"
lsst.dax.metaservURL = "/api/meta/v1/db/"
lsst.dax.imgservURL = "/api/image/v1/"
lsst.dax.imgserv.repository = "DC_W13_Stripe82"

// ehcache.xml env sensitive properties
// ehcahe replication port; suggest 4077-developer, 5077-dev, 6077-I&T, 7077-Prod, 8077-Public
ehcache.multicast.port = "7077"

environments{
    local {
        BuildType = "Development"
        ehcache.multicast.port = 4077
        visualize.fits.Security= false
        ehcache.multicast.ttl = 0
        sso.auth.required = "false"
        lsst.dax.dbservURL = "https://lsst-lsp-int.ncsa.illinois.edu/api/db/v1/tap/sync/"
        lsst.dax.metaservURL = "https://lsst-lsp-int.ncsa.illinois.edu/api/meta/v1/db/"
        lsst.dax.imgservURL = "https://lsst-lsp-int.ncsa.illinois.edu/api/image/v1/"
    }
    dev {
        BuildType = "Development"
        ehcache.multicast.port = "5077"
    }
    test {
        BuildType = "Beta"
        ehcache.multicast.port = "6077"
        irsa.gator.service.periodogram.url = "https://irsatest.ipac.caltech.edu/cgi-bin/periodogram/nph-periodogram_api"
    }
    ops_int {
    }
}
